.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.home-page {
  height: 850px;
  width: 100vw;
}

.jumbo-1 {
  background-image: url('https://res.cloudinary.com/kinsleybphoto/image/upload/v1632865543/4E29CE1D-32DD-4084-AB00-12E3AC81CB4E_1_edku3i.jpg');
  background-position: center center;
  background-color: #464646;
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;
  margin-bottom: 0px;
}

 .footer {
  color:white;
  background-color: black;
  max-height: 300px; 
  width: 100vw;
}

.footer-column {
  max-height: 300px;
}

.col.social {
  max-height: 200px;
  position: relative; 
}

.social-square {
  height: 50px; 
  width: 50px;
  position: absolute;
}

.main-text {
  position: absolute;
  top: 200px;
  height: 100px;
}

.main-pic {
  left: 0px;
  top: -79.75px;
  width: 100v;
  height: 8002.5px;
  position: relative;
}

.test {
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 0;
  margin: 0;
}

.navbar {
  z-index: 1; 
  text-align: center;
  height: 50px;
  padding-left: 300px;
  padding-right: 300px;
}

.navbar a {
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

